<nav class="bg-blue-100" role="navigation">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-2 flex items-center gap-4">
        <img src="{{ asset('img/Logo_OpenClassrooms.png') }}" alt="OpenClassrooms"/>

        <a class="text-xl text-blue-700" href="{{ path('homepage') }}">
            To Do List app
        </a>
    </div>
</nav>
