<a href="{{ this.href }}" class="{{ this.colorClasses }}inline-flex items-center px-2.5 py-1.5 border border-transparent text-xs font-medium rounded shadow-sm focus:outline-none focus:ring-2 focus:ring-offset-2">
    {{ this.text }}
</a>
